<% layout( 'layout' ) -%>

<h1 id="page-title"><%= title %></h1>

<div id="list">
  <form action="/create_cycles" method="post" accept-charset="utf-8">
    <div class="item-new">
      <input class="input" type="text" name="content" />
    </div>
  </form>
<!-- data-toggle causes error -->
        <ul class="nav nav-tabs">
          <li><a href="/books" name="category" value="books">Books</a></li>
          <li><a href="/cycles" name="category" value="cycles">Cycles</a></li>
          <li><a href="/electronics" name="category" value="electronics">Electronics</a></li>
        </ul>
      </post>
 <div class="tab-content">
<% books.forEach( function ( book ){ %>
  <div class="item">
  <a class="update-link" href="/edit/<%= book._id %>/books" title="Bid on this item">
<table>
    <tr><th><a><%= book.name %></a></th></tr>
    <tr><td><a><%= book.Desc %></a></td></tr>
    <tr><td><a><%= book.Posted %></a></td></tr>
    <tr><td><a><%= book.min_cost %></a></td></tr>
    <tr><td><a><%= book.Academic %></a></td></tr>
    </table>
    </a>
  </div>
<% }); %>
</div>

<% cycles.forEach( function ( cycle ){ %>
  <div class="item">
  <a class="update-link" href="/edit/<%= cycle._id %>/cycle" title="Bid on this item">
<table>
    <tr><th><a><%= cycle.name %></a></th></tr>
    <tr><td><a><%= cycle.Desc %></a></td></tr>
    <tr><td><a><%= cycle.Posted %></a></td></tr>
    <tr><td><a><%= cycle.min_cost %></a></td></tr>
    <tr><td><a><%= cycle.Brand %></a></td></tr>
    <tr><td><a><%= cycle.Type %></a></td></tr>
    <tr><td><a><%= cycle.Color %></a></td></tr>
    </table>
    </a>
  </div>
<% }); %>
</div>


</div>


</div>
      <!-- /tabs -->
